@mixin monty-python {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

$bg--shadow: 4px 4px 0px black;

.exp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .container {
        max-width: 900px;
        p {
            @include monty-python;
        }
    }
}